<div class="container">
  <% @bookings.each do |booking| %>
    <div class="product">
      <% if booking.cat.photo? %>
        <%= cl_image_tag booking.cat.photo.path, width: 200, aspect_ratio: "16:9", crop: :fill, class: "product-image hidden-xs" %>
      <% end %>
      <div class='product-body'>
        <h3><%= link_to booking.cat.name, cat_path(booking.cat) %></h3>
        <p>Booked for: <%= booking.book_date %></p>
        <p>Booked on: <%= booking.created_at %></p>
        <% if !booking.review_rating || !booking.review_content   %>
          <p><%= link_to 'Add a review for this cat', booking_path(booking) %> </p>
        <% end %>


      </div>
      <ul class="list-inline">
        <% if booking.review_rating %>
          <% booking.review_rating.times do %>
            <li class="rating-items"><a href=""><%= image_tag 'footprints-cat-32.png' %></a></li>
          <% end %>
        <% else %>
          <% rand(1..5).times do %>
            <li class="rating-items"><a href=""><%= image_tag 'footprints-cat-32.png' %></a></li>
          <% end %>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>
