<div class="container">
  <% @bookings.each do |booking| %>
    <div class="product">
      <% if booking.cat.photo? %>
        <%= cl_image_tag booking.cat.photo.path, width: 200, aspect_ratio: "16:9", crop: :fill, class: "product-image hidden-xs" %>
      <% end %>
      <div class='product-body'>
        <h3><%= link_to booking.cat.name, cat_path(booking.cat) %></h3>

        <ul class="list-inline">
          <li>Average rating</li>
          <% unless booking.cat.average_rating.zero? %>
            <% booking.cat.average_rating.times do %>
              <li><%= image_tag 'footprints-cat-16.png' %></li>
            <% end %>
            <% (5 - booking.cat.average_rating).times do %>
              <li><%= image_tag 'footprints-cat-16-gray.png' %></li>
            <% end %>
          <% end %>
        </ul>

        <p>Booked for: <%= booking.book_date %></p>
        <p>Booked on: <%= booking.created_at %></p>
      </div>

      <div class="product-links">
        <p>
          <%= link_to root_path do %>
            <i class="fa fa-eye" aria-hidden="true"></i> Booking details
          <% end %>
        </p>

        <% if !booking.review_rating || !booking.review_content   %>
          <p>
            <%= link_to booking_path(booking) do %>
              <i class="fa fa-pencil" aria-hidden="true"></i> Write a review
            <% end %>
          </p>
        <% end %>

        <% case booking.status %>
        <% when "Pending" %>
          <p class="pending"><i class="fa fa-question-circle" aria-hidden="true"></i> <%= booking.status %></p>
        <% when "Accepted" %>
          <p class="accepted"><i class="fa fa-check" aria-hidden="true"></i> <%= booking.status %></p>
        <% when "Canceled" %>
          <p class="canceled"><i class="fa fa-times" aria-hidden="true"></i> <%= booking.status %></p>
        <% else %>
          <p><i class="fa fa-times" aria-hidden="true"></i> <%= booking.status %></p>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
