<div class="container">
  <% @cats.each do |cat| %>
    <% cat.bookings.where("status = ?", "Pending").each do |booking| %>
      <p>You have a new booking request from <%= booking.user.username %> for you cat <%= booking.cat.name %></p>
    <% end %>
    <div class="product">
      <% if cat.photo? %>
        <%= cl_image_tag cat.photo.path, width: 200, aspect_ratio: "16:9", crop: :fill, class: "product-image hidden-xs" %>
      <% end %>
      <div class='product-body'>
        <h3><%= link_to cat.name, cat_path(cat) %></h3>
        <p>Next bookings:
          <% cat.bookings.each do |booking| %>
            <%= booking.book_date %>
          <% end %>
        </p>
      </div>
      <ul class="list-inline">
        <% rand(1..5).times do %>
          <li class="rating-items"><a href=""><%= image_tag 'footprints-cat-32.png' %></a></li>
        <% end %>
      </ul>
      <%= link_to "Supprimer #{cat.name}", cat_path(cat), method: :delete, class: "btn btn-primary" %>
    </div>
  <% end %>
</div>
