<div class="container">
  <% @cats.each do |cat| %>
    <div class="product">
      <% if cat.photo? %>
        <%= cl_image_tag cat.photo.path, width: 200, aspect_ratio: "16:9", crop: :fill, class: "product-image hidden-xs" %>
      <% end %>
      <div class='product-body'>
        <h3><%= link_to cat.name, cat_path(cat) %></h3>
        <p>Average rating <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star" aria-hidden="true"></i>
                          <i class="fa fa-star-half-o" aria-hidden="true"></i>
                          <i class="fa fa-star-o" aria-hidden="true"></i>
        </p>
        <p>Next booking: <%= cat.bookings.first.book_date %></p>
        <p class="pending"><%= pluralize cat.bookings.where("status = ?", "Pending").count, "pending booking request" %></p>
      </div>

      <div class="product-links">
        <p>
          <%= link_to root_path do %>
            <i class="fa fa-pencil" aria-hidden="true"></i> Edit Profile
          <% end %>
        </p>

        <p>
          <%= link_to root_path do %>
            <i class="fa fa-calendar-check-o" aria-hidden="true"></i> Manage bookings
          <% end %>
        </p>
      </div>
    </div>
  <% end %>
</div>
