<div class="show-banner bottom-space" style="background-image: linear-gradient(90deg, rgba(0,0,0,1), rgba(0,0,0,0.2), rgba(0,0,0,1)), url('<%= cl_image_path @cat.photo.path %>');">
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-6 text-center">
      <%= cl_image_tag @cat.photo.path, width: 800, aspect_ratio: "16:9", crop: :fill, class: "small-img" %>
    </div>

    <div class="col-sm-12 col-md-6 text-center">
      <h1><%= @cat.name.capitalize %></h1>
      <p><%= @cat.description %></p>
      <p><%= @cat.address %></p>
      <p><%= @cat.price %> € / day</p>
      <hr>
      <% if @cat.user == current_user %>
        <%= link_to "Manage #{@cat.name.capitalize}", root_path, method: :post, class: "bottom-space btn btn-primary" %>
      <% else %>
        <%= link_to "Send a booking request", cat_bookings_path(@cat), method: :post, class: "bottom-space btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <% if @cat.bookings.any? %>
    <% @cat.bookings.each do |booking| %>
      <% if booking.review_content %>
        <div class="row">
          <div class="col-md-12">
            <blockquote>
              <p><%= booking.review_content %></p>
              <h5><%= booking.user.username %></h5>
              <ul class="list-inline">
                <% booking.review_rating.times do %>
                  <li><%= image_tag 'cat-footprint.png' %></li>
                <% end %>
                <% (5 - booking.review_rating).times do %>
                  <li><%= image_tag 'cat-footprint-grey.png' %></li>
                <% end %>
              </ul>
            </blockquote>
          </div>
        </div>
      <% end %>
    <% end %>
  <% end %>
</div>
