<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="description" content="Welcome to Rent a Cat. Here you can get all the love you need with a large choice of kittens ready to be yours for one day or one week.">
    <title>Rent a cat</title>
    <%= csrf_meta_tags %>
    <%= action_cable_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all' %>

  </head>
  <body>
    <% unless controller_name == "pages" %>
      <%= render 'shared/navbar' %>
    <% end %>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
    <%= cloudinary_js_config %>
  </body>
</html>
